@use '../globals/settings' as *;

.header {
  width: 100%;

  &-innerWrapper {
    width: 100%;
    max-width: 27rem;
    margin-inline: auto;
    padding: 2rem 1rem;

    @media screen and (min-width: $md) {
      max-width: $content-max-width;
    }
  }

  &-title {
    @include apply-text-style('text-2xl', 700);
    margin-bottom: 1rem;

    @media screen and (min-width: $md) {
      @include apply-text-style('text-3xl', 700);
    }
  }

  &-subtitle {
    @include apply-text-style('text-md', 400);
  }
}
