@use '../globals/settings' as *;

.header {
  width: 100%;

  &-innerWrapper {
    width: 100%;
    max-width: 27rem;
    margin-inline: auto;
    padding: 2rem 1rem 0;
    text-align: center;

    @media screen and (width >= $md) {
      max-width: $content-max-width;
    }
  }

  &-title {
    @include apply-text-style('text-2xl', 700);
    margin-bottom: 1rem;

    @media screen and (width >= $sm) {
      @include apply-text-style('text-3xl', 700);
    }

    @media screen and (width >= $md) {
      @include apply-text-style('text-4xl', 700);
    }
  }

  &-menuButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    box-shadow: $shadow-lg;
  }

  &-subtitle {
    @include apply-text-style('text-md', 400);
    max-width: 17.5rem;
    margin-inline: auto;
  }
}
