@use '../globals/settings' as *;

.main {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;

  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }
}
