$basic-white: #fff;
$basic-black: #000;

$background-primary: #fafafa;
$background-secondary: #ffffff;

$neutral-50: #0a0a0a;
$neutral-100: #171717;
$neutral-200: #262626;
$neutral-300: #404040;
$neutral-400: #525252;
$neutral-500: #737373;
$neutral-600: #a3a3a3;
$neutral-700: #d4d4d4;
$neutral-800: #e5e5e5;
$neutral-900: #f5f5f5;
$neutral-950: #fafafa;
