@use '../globals/variables.scss' as *;

body {
  min-height: 100vh;
  font-family: $ff-inter;
  color: $black;
  background-color: $grey-100;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;

  @media screen and (min-width: $lg) {
    grid-template-columns: 1fr 2fr;
  }
}
