@use '../../assets/stylesheets/globals/variables' as *;

.main {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 auto;

  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $lg) {
    margin: 0 0 0 auto;
  }
}
