@use '../../assets/stylesheets/globals/variables' as *;

.copyTextButton {
  background-color: transparent;
  color: rgba($grey-500, 0.75);
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  display: grid;
  place-items: center;
  border-radius: 0.25rem;
  transition: $transition-fast color;

  &-tooltip {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 0.25rem);
    font-size: 0.75rem;
    background-color: $black;
    color: $white;
    border-radius: 0.25rem;
    padding: 0.25rem;
    cursor: initial;
    opacity: 0;
    visibility: hidden;
    transition: $transition-fast opacity;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      border-top: 0.25rem solid transparent;
      border-bottom: 0.25rem solid transparent;
      border-left: 0.25rem solid $black;
    }

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    color: $grey-600;
  }
}
