@use '../../assets/stylesheets/globals/variables' as *;

.imageCard {
  width: 100%;
  max-width: 25rem;
  height: fit-content;
  overflow: hidden;
  background-color: rgba($white, 0.5);
  border-radius: 1rem;
  box-shadow: 0 0.75rem 1.5rem -0.25rem rgba(145, 158, 171, 0.12),
    0 0 0.125rem 0 rgba(145, 158, 171, 0.2);

  &-image {
    width: 100%;
    height: auto;
  }

  &-content {
    padding: 1rem 1rem 1.25rem;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &-subitle {
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
  }

  &-paragraph {
    font-size: 0.875rem;
    color: $grey-500;
  }

  &-paragraph.is-copyText {
    position: relative;
    border: solid 0.0625rem rgba($grey-500, 0.2);
    padding: 1rem 3rem 1rem 0.5rem;
    border-radius: 0.5rem;
  }

  .copyTextButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
