// Colors
$black: #212b36;
$grey-600: #585f68;
$grey-500: #637381;
$grey-100: #f7f7f7;
$white: #fff;

// Font Families
$ff-poppins: 'Poppins', sans-serif;
$ff-inter: 'Inter', sans-serif;

// Break points
$md: 40.625rem; // 650px
$lg: 82rem; // 1300px

// Transitions
$transition-fast: 300ms;
