html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  user-select: none;
}

button {
  border: none;
  cursor: pointer;
  user-select: none;
}

fieldset {
  border: none;
  padding: 0;
}
